<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Contet-Type" content="text/html;charset=UTF-8" />
<title>部门列表显示</title>
<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{bootstrap/css/bootstrap.css}" />
<!-- 换掉当前显示的log -->
<link rel="icon" type="image/x-icon" th:href="@{/images/mldn.ico}" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
	<table style="width:80%" border="1">
		<tr>
			<td>No.</td>
			<td>部门编号</td>
			<td>部门名称</td>
			<td>地址</td>
			<td>even</td>
			<td>odd</td>
		</tr>
		<tr th:each="dept,deptStat:${allDept}" th:class="${deptStat.even ? 'text-danger':'text-success'}">
				<td th:text="${deptStat.index+1}"/>
				<td th:text="${dept.deptno}" />
				<td th:text="${dept.dname}" />
				<td th:text="${dept.loc}" />
				<td th:text="${deptStat.even}"/>
				<td th:text="${deptStat.odd}"/>
		</tr>
	</table>
</body>
</html>















